{% extends 'base.html' %}

{% block title %}Ativos Inoa{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <!--<link rel="stylesheet" href="style.css">-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Stock Visualizer</title>
    </head>

    <body>
    <h2>Verifique os gráficos de ativos!</h2>
    <br>

    <div class='col-sm-12 col-lg-12 col-md-12'>
    
        <form class="form-inline">
          <label class="sr-only" for="ticker-input">Sigla</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Sigla</div>
            </div>
            <input type="text" class="form-control" id="ticker-input" placeholder="AAPL">
          </div>
  
  
  
          <label class="sr-only" for="period">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Período (dias)</div>
            </div>
            <input type="number" class="form-control" id="period" placeholder="7">
          </div>
  
          <input type="button"  class="btn btn-primary mb-2" value="Pesquisar" id="submit-btn">
        </form>
    </div>

    <div id="graph-area" style="height:80%; width:80%;">
    <canvas id="myChart"></canvas>
    </div>

    <br>

    <h2>Notificação por e-mail:</h2>
    <br>

    <div class='col-sm-12 col-lg-12 col-md-12'>
    
        <form class="form-inline">
          <label class="sr-only" for="ticker-input">Sigla</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Sigla</div>
            </div>
            <input type="text" class="form-control" id="ticker-input" placeholder="AAPL">
          </div>
          <form class="form-inline">
            <label class="sr-only" for="ticker-input">Sigla</label>

            <div class="a mb-2 mr-sm-2">
                <select class="form-control form-control">
                    <option value="subir">Passar de</option>
                    <option value="cair">Cair de</option>
                </select>
            </div>
  
  
          <label class="sr-only" for="period">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Valor (dol)</div>
            </div>
            <input type="number" class="form-control" id="period" placeholder="340,5">
          </div>
  
          <input type="button"  class="btn btn-primary mb-2" value="Notificar-me" id="submit-btn">
        </form>
    </div>

    <div id="graph-area" style="height:80%; width:80%;">
    <canvas id="myChart"></canvas>
    </div>
    
    <script>

        $(document).ready(function(){
            // Right after the page is loaded, we get the stock data (default to AAPL) from the Django backend (the 'get_stock_data' function) for plotting
            $.ajax({
                type: "POST",
                url: "/get_stock_data/",
                data: {
                    'ticker': 'AAPL',
                },
                success: function (res, status) {
                    // AAPL's stock price and SMA data is now in the "res" object
                    var tickerDisplay = res['prices']['Meta Data']['2. Symbol'];
                    var graphTitle = tickerDisplay + ' (dados dos últimos 365 dias)'

                    var priceSeries = res['prices']['Time Series (Daily)'];
                    var daily_adjusted_close = [];
                    var dates = [];

                    price_data_parse = function(){
                        for (let key in priceSeries) {
                            daily_adjusted_close.push(Number(priceSeries[key]['5. adjusted close']));
                            dates.push(String(key));
                        }

                    };
                    price_data_parse();

                    var smaSeries = res['sma']['Technical Analysis: SMA'];
                    var sma_data = [];

                    sma_data_parse = function(){
                        for (let key in smaSeries) {
                            sma_data.push(Number(smaSeries[key]['SMA']));
                        }

                    };
                    sma_data_parse();

                    // only keep the latest 365 data points (i.e., data for the latest 365 trading days) for the three lists below
                    daily_adjusted_close.reverse().slice(365);
                    sma_data.reverse().slice(365);
                    dates.reverse().slice(365);

                    //instruct Chart.js to plot the graph, with "dates" as the x-axis labels and "daily_adjusted_close" and "sma_data" as the y-axis values
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                    animationEnabled: true,
	                zoomEnabled: true,
                    type: 'line',
                        data: {
                            labels: dates.slice(-365),
                            datasets: [
                                {
                                    label: 'Daily Adjusted Close',
                                    data: daily_adjusted_close.slice(-365),
                                    backgroundColor: [
                                        'green',
                                    ],
                                    borderColor: [
                                        'green',
                                    ],
                                    borderWidth: 1
                                },
                                {
                                    label: 'Simple Moving Average (SMA)',
                                    data: sma_data.slice(-365),
                                    backgroundColor: [
                                        'blue',
                                    ],
                                    borderColor: [
                                        'blue',
                                    ],
                                    borderWidth: 1
                                },
                            ]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    //beginAtZero: false
                                }
                            },
                            plugins: {
                                legend: {
                                position: 'top',
                                },
                                title: {
                                display: true,
                                text: graphTitle
                                }
                            }
                        }
                    });

                }
            });
        });

        $('#submit-btn').click(function() {
            // when the user specifies a new ticker, we call the Django backend (the 'get_stock_data' function) to get the stock data and refresh the graph. 
            // obtain the ticker string from the input textbox
            var tickerText = $('#ticker-input').val();
            var period = $('#period').val();
            $.ajax({
                type: "POST",
                url: "/get_stock_data/",
                data: {
                    'ticker': tickerText,
                },
                success: function (res, status) {
                    // stock price and SMA data for the user-specified ticker is now in the "res" object
                    if(res['prices']['Error Message']){
                        location.reload()
                    }
                    else{
                        if(res['prices']['Note'] || !res['prices']['Meta Data']){
                            location.reload()
                        }
                        var tickerDisplay = res['prices']['Meta Data']['2. Symbol'];
                        var graphTitle = tickerDisplay + ' (dados dos últimos '+ period + ' dias)';
                    }

                    var priceSeries = res['prices']['Time Series (Daily)'];
                    var daily_adjusted_close = [];
                    var dates = [];

                    price_data_parse = function(){
                        for (let key in priceSeries) {
                            daily_adjusted_close.push(Number(priceSeries[key]['5. adjusted close']));
                            dates.push(String(key));
                        }

                    };
                    price_data_parse();

                    var smaSeries = res['sma']['Technical Analysis: SMA'];
                    var sma_data = [];

                    sma_data_parse = function(){
                        for (let key in smaSeries) {
                            sma_data.push(Number(smaSeries[key]['SMA']));
                        }

                    };
                    sma_data_parse();


                    // only keep the latest x data points (i.e., data for the latest x trading days) for the three lists below

                    daily_adjusted_close.reverse().slice(period);
                    sma_data.reverse().slice(period);
                    dates.reverse().slice(period);

                    //instruct Chart.js to plot the graph, with "dates" as the x-axis labels and "daily_adjusted_close" and "sma_data" as the y-axis values
                    $('#myChart').remove(); // this is my <canvas> element
                    $('#graph-area').append('<canvas id="myChart"><canvas>');
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                    type: 'line',
                    zoomEnabled: true,
                        data: {
                            labels: dates.slice(-period),
                            datasets: [
                                {
                                    label: 'Daily Adjusted Close',
                                    data: daily_adjusted_close.slice(-period),
                                    backgroundColor: [
                                        'green',
                                    ],
                                    borderColor: [
                                        'green',
                                    ],
                                    borderWidth: 1
                                },
                                {
                                    label: 'Simple Moving Average (SMA)',
                                    data: sma_data.slice(-period),
                                    backgroundColor: [
                                        'blue',
                                    ],
                                    borderColor: [
                                        'blue',
                                    ],
                                    borderWidth: 1
                                },
                            ]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    //beginAtZero: false
                                }
                            },
                            plugins: {
                                legend: {
                                position: 'top',
                                },
                                title: {
                                display: true,
                                text: graphTitle
                                }
                            }
                        }
                    });

                }
            });


        });

    </script>

    </body>
    </html>
{% endblock %}